@page "/guidespage/accuracy-of-information"

<div class="container">
    <div class="text-center">
        <h1>Accuracy of Information</h1>
    </div>
    <div>
        <p>
            AI chatbots have a large knowledge base, appear to have an immense understanding of many topics, however this is not the case. AI Chatbots do not know anything; 
            they simply have the ability to say what sounds right based on what information they have been trained on. This is because they are designed to answer questions 
            based on patterns they identified from existing sources (i.e. their training data) and match your question with what it believes is correct. Although they are capable 
            of answering questions on a vast range of topics, they cannot think critically and as such, cannot verify whether what it is saying is true.
        </p>
    </div>
    <div class="text-center">
        <h2>So I Shouldn't Use Chatbots For Research?</h2>
    </div>
    <div>
        <p>
            That is not completely true. Chatbots are often correct in the information they produce, however using their statements as absolute fact, 
            especially when numerical statistics are involved, is something that should be avoided when performing research or otherwise gaining knowledge. In summary, AI 
            chatbots can be used to gain a general understanding of a subject, however, do not use it as a factual source; ChatGPT cannot be used as a reference in academia!
        </p>
    </div>
    <div class="text-center">
        <h2>Plagiarism</h2>
    </div>
    <div>
        <p>
            In addition to possibly inaccurate information, AI chatbots have the potential to plagiarise other people’s work. When asking an AI chatbot to write about a topic, 
            it will often derive its text from an existing source, either partially or sometimes in its entirety. The use of this text in an assignment is a misconduct in academic writing, 
            as you will be passing someone else’s ideas or writing off as your own. Avoid copy and pasting text from AI chatbots whenever you can and reference the original sources of the 
            information if you base your own work off it. (Copilot’s citations are useful for this.)
        </p>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/accuracy-of-information/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>