@page "/guidespage/chatGPT"

<div class="container">
    <div class="text-center">
        <h1>What is ChatGPT?</h1>
    </div>
    <div>
        <p>
            ChatGPT is what is known as a large language model. A large language model (LLM) is an artificial intelligence model that has been trained 
            on a large quantity of text sources in order to generate and understand human language by predicting the most appropriate word to follow the 
            previous in a statement. Imagine it as a very advanced version of the auto suggested text on your phone’s keyboard; it is able to understand 
            what has been written and predict what would make sense to come next, however this one has been trained on over 300 billion words.
        </p>
    </div>
    <div class="text-center">
        <h2>Training?</h2>
    </div>
    <div>
        <p>
            An AI model must be trained on existing data in order to be able to learn how people speak and form sentences. To do this, the AI was given text 
            information from across the internet, such as books, social media posts, news articles, research papers, websites, and even Wikipedia. Because of 
            this, the AI will appear to have a vast understanding of a wide range of topics and be able to communicate about these topics in various manners. 
            This is because it is able to predict how a discussion on these topics will likely play out, including the use of key terms and names. The content 
            of the data it is trained on is required for its understanding of topics, therefore it is unable to provide information on events that have transpired 
            since the end of its training, which is 2022.
        </p>
    </div>
    <div class="text-center">
        <h2>How is it used?</h2>
    </div>
    <div>
        <p>
            ChatGPT uses a conversational interface to communicate with the AI. When chatting with the AI, a text box is used to enter the prompts that you send to it. 
            Once the AI receives the message, it will process the content of the text in order to understand the context of it and generate a relevant response. Depending 
            on the message you send, its response can vary whether you gave it an instruction, asked it a question, or are starting a conversation. For example, you could 
            ask it to create a poem on the benefits of AI and it will do exactly that. If you asked it to provide statistics on the preferences of cats or dogs as pets in 
            the UK, it will also provide that.
        </p>
    </div>
    <div>
        <div class="row pb-2">
            <img class="col-md-6" src="/images/ChatGPT Pet Ownership.PNG"/>
            <img class="col-md-6 pt-2 pt-md-0" src="/images/ChatGPT Poem.PNG" />
        </div>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/chatGPT/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>