@page "/guidespage/fact-checking"

<div class="container">
    <div class="text-center">
        <h1>Fact Checking AI Responses</h1>
    </div>
    <div>
        <p>
            AI chatbots are not a source of verified facts, and as such, it is important to hold a responsible level of scrutiny to each response you receive in a conversation.
        </p>
    </div>
    <div class="text-center">
        <h2>How Can I tell If a Fact is Incorrect?</h2>
    </div>
    <div>
        <p>
            Indicators of potentially inaccurate information can include:
        </p>
        <p>
            The detail of the answer – Did the chatbot provide an explanation that makes sense?
        </p>
        <p>
            The accuracy of other information – Are there obvious errors in other statements in the same chat?
        </p>
        <p>
            Did you probe the AI to get the response? – AI are often agreeable, meaning they feel the need to give an answer when there simply isn’t one.
        </p>
    </div>
    <div class="text-center">
        <h2>Why do AI Chatbots Produce Incorrect Facts?</h2>
    </div>
    <div>
        <p>
            There are different ways that a chatbot’s response can produce false information. It could be that the chatbot is misrepresenting information it is sourcing, 
            or it could be that the chatbot is sourcing information that is from an unreliable source. A chatbot repeating unreliable information to you does not make it any more reliable.
        </p>
    </div>
    <div class="text-center">
        <h2>How Do I Make Sure That Information Is Correct?</h2>
    </div>
    <div>
        <p>
            An AI response should always be the starting point for further investigation. Don’t take information obtained through a chatbot at face value; try pasting the facts into a search engine 
            like Google to check if a website repeats the same information - and make sure it's a reliable source!
        </p>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/fact-checking/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>