@page "/guidespage/introduction"


<div class="container">
    <div class="text-center">
        <h1>Introduction to AI</h1>
    </div>
    <div>
        <p>
            Recently, you may have heard of lots of talk about AI and ChatGPT and other strange terms in the tech industry that you've never heard of before.
            You may have heard how machines can write essays and have conversions with people. Maybe you've never heard of any of this and feel out of the loop.
            This website is here to help guide you through all you need to know about how to use this new technology, and how to stay safe and responsibly use it.
        </p>
    </div>
    <div class="text-center">
        <h2>What is AI?</h2>
    </div>
    <div>
        <p>
            AI, meaning Artificial Intelligence, is a machine that is capable of thinking, or at least, appears to be able to think. Artificial Intelligence has been in use for years
            for a variety of purposes, such as analysing data like shopping habits, or automated customer support agents helping you find what you're looking for. AI could even refer to
            the computer opponents in videogames, which can interact with you in an almost human way. AI in recent years have become more advanced, and in 2022, AI technology reached a turning
            point with the release of ChatGPT, a Natural Language Processing chatbot.
        </p>
    </div>
    <div class="text-center">
        <h2>What is Natural Language Processing?</h2>
    </div>
    <div>
        <p>
            Natural Language Processing (NLP) is what allows machines to understand what a person tells it in natural language (e.g. in plain English text). This is what makes recent AI chatbots
            very approachable and intuitive to use, as people don't need to have any computer expertise to use it. You can just talk to it like you would with any real person and it will be
            able to understand you. Because of they way it understands text, you can speak to it in any language and it will still understand you!
        </p>
    </div>
    <div class="text-center">
        <h2>Don't I already have an AI Chatbot?</h2>
    </div>
    <div>
        <p>
            You may own, interacted with, or simply know about devices such as Amazon Alexa or Google Home. These devices can have conversations with you and answer your questions,
            so what’s the difference? Home assistants like Alexa and Google Home are not generative AI models like ChatGPT. Assistants are designed to detect key phrases in your instructions
            and perform a set routine based on what it assumes you asked. Assistants are able to answer questions by searching up what you are asking on the internet. What this means is that
            a home assistant can only provide information that already exists. An AI model like ChatGPT can generate its own answers to questions and understand anything you ask regardless of
            how you phrase the statement.
        </p>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/introduction/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>