@page "/guidespage/meet-the-chatbots"

<div class="container">
    <div class="text-center">
        <h1>Meet the Chatbots </h1>
    </div>
    <div>
            <p>
                There are many different types of chatbots available for you to use. Many are free but might require you to sign up to
                their site to use, and some might limit access to features behind subscriptions. Here are some of the most popular AI Chatbots:
            </p>
    </div>
    <div class="text-center">
        <h2>ChatGPT</h2>
    </div>
    <div>
        <div class="row">
            <p class="col-md-11 col-12">
                ChatGPT was the first publicly available AI chatbot to reach mainstream attention when it released back in December 2022.
                By default, it makes use of the GPT-3.5 model for its knowledge training, however, the much more powerful GPT-4 model can be
                accessed through a subscription service. Nevertheless, the basic chat model is still an incredibly powerful tool.
                Through an intuitive conversational interface, you can talk to the AI, ask it questions, give it prompts for text generation,
                and much more.
            </p>
            <img class="container col-md-1 col-6" src="/images/ChatGPT_logo.svg" />
        </div>
    </div>
    <div class="text-center">
        <h2>Microsoft Copilot</h2>
    </div>
    <div>
        <div class="row">
            <img class="container col-md-1 col-6" src="/images/Microsoft_365_Copilot_Icon.svg" />
            <p class="col-md-11 col-12">
                Initially released as Bing Chat, Copilot is Microsoft’s version of ChatGPT. Created using the same training models as ChatGPT,
                Copilot actually provides free access to GPT-4, among other benefits. Copilot utilises integration with Bing Search to provide
                live information input to the chatbot, allowing it to provide information on recent news that is not available to the chatbot
                normally. Copilot will also provide citations to its responses, allowing you to further investigate your topic.
            </p>
        </div>
    </div>
    <div class="text-center">
        <h2>Google Gemini </h2>
    </div>
    <div>
        <div class="row">
            <p class="col-md-11 col-12">
                Formerly known as Google Bard, Gemini is an original AI project developed by Google. Making use of its own AI model,
                Gemini also provides a conversational interface for the user to interact with it and provides many of the same features
                as ChatGPT. Gemini has improved since its initial iteration as Bard and has proven to be a useful tool for data driven tasks.
                It is even built into the recent Pixel phones.
            </p>
            <img class="container col-md-1 col-6" src="/images/gemini_wordmark_landing_page_238102af073d0ae2763aa5.svg" />
        </div>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/meet-the-chatbots/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>