@page "/guidespage/copilot"

<div class="container">
    <div class="text-center">
        <h1>Researching with Microsoft Copilot</h1>
    </div>
    <div>
        <p>
            Microsoft Copilot provides the same generative functionality as ChatGPT; however, the AI has been modified to allow it to
            access information on the web. This means that it is able to provide information on events that have happened recently, and
            because of its ability to use web results for sources, it is able to provide these sources to you in the form of citations.
        </p>
    </div>
    <div class="text-center">
        <h2>Citations</h2>
    </div>
    <div>
        <div class="row">
            <img class="col-md-6" src="/images/CopilotSmartphoneSummary.PNG" />
            
            <img class="col-md-6 pt-2 pt-md-0" src="/images/CopilotSmartphoneSummary2.PNG" />
        </div>
        <p class="pt-1">
            In this example here, Copilot has been asked to provide a summary of the history of the smartphone. In its response, it provided
            a structured and detailed explanation of the innovations in smartphone technologies, and throughout the response, it has added citations
            to the paragraphs. All the sources it used are available at the bottom of the chat response.
        </p>
    </div>
    <div class="text-center">
        <h2>What Can I Do With This?</h2>
    </div>
    <div>
        <p>
            Copilot’s citation feature opens up a new way to perform research for assignments. If you need to write about a topic you are unsure of, you 
            can ask Copilot to give you a summary of what you need to know. Copilot will give an in-depth summary of the topic and provide links you can use 
            to conduct further reading. In essence, Copilot gathers a collection of helpful resources for you to investigate, whilst providing a summary that helps 
            you understand what information each link provides.
        </p>
    </div>
    <div class="text-center">
        <h2>Can't I Just Use What the AI Wrote?</h2>
    </div>
    <div>
        <p>
            No! We will cover why you shouldn't and likely aren't allowed to do this in the next topic.
        </p>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/copilot/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>