@page "/guidespage/privacy"

<div class="container">
    <div class="text-center">
        <h1>Privacy of Information</h1>
    </div>
    <div>
        <p>
            Being a new technology, there isn’t much awareness of how information entered into AI chatbots is used. Maintaining the same privacy
            measures you would use when entering any information into the internet will help prevent any personal information from being collected about you.
        </p>
    </div>
    <div class="text-center">
        <h2>What is Information is Collected?</h2>
    </div>
    <div>
        <p>
            As with almost every online service you can access on the internet, AI chatbots will collect information from you for analytics. What this means is
            the service will use information about how you use their system in order to make improvements, or simply advertise products to you. However, aside
            from usage metrics, AI chatbots WILL store the conversations you have with it. The purpose of this is to further train the AI model, by using your
            input as a source of information to be used for future iterations of the chatbot.
        </p>
    </div>
    <div class="text-center">
        <h2>How Can I Protect My Privacy?</h2>
    </div>
    <div>
        <p>
            Avoid entering personally identifying information, such as full names and addresses, secret information such as passwords and banking information,
            or texts that belong to you or someone else that you don’t wish to be used by the AI model, such as the script for a story you are writing, or the contents
            of a private company email.
        </p>
    </div>
    <div class="text-center">
        <h2>Is There a Way To Prevent My Conversations Being Stored?</h2>
    </div>
    <div>
        <div class="row">
            <p>
                ChatGPT allows you to toggle a private conversation option, which promises to delete your conversations after 30 days, and doesn’t use the contents of your conversations
                for training the AI model, however caution should still be exercised when using this mode, as it cannot be certain how data might still be analysed.
            </p>

            <img src="/images/ChatGPTTempChat.PNG" class="container col-md-9 col-12 pb-2" />
        </div>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/privacy/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>