@page "/guidespage/page"

<div class="container">
    <div class="text-center">
        <h1></h1>
    </div>
    <div>
        <p>
            
        </p>
    </div>
    <div class="text-center">
        <h2></h2>
    </div>
    <div>
        <p>
            
        </p>
    </div>
    <div class="text-center">
        <h2></h2>
    </div>
    <div>
        <p>
            
        </p>
    </div>
    <div class="text-center">
        <h2>Quiz</h2>
    </div>
    <div class="text-center container col-9 col-md-6">
        <NavLink href="guidespage/introduction/quiz" class="text-black" style="text-decoration:none">
            <div class="my-4 align-content-center pt-1" style="background-color:lightgray; border: 2px solid #000000">
                <h3>Take the quiz for this section!</h3>
            </div>
        </NavLink>
    </div>
</div>