@page "/about"
<h1>About</h1>

<div class="container">
    <div class="">
        <div class="container col-12">
            <h4>This app is designed to teach students about AI chatbots and encourage safe, effective, and ethical use of the tools.
                This app should serve as a resource for teachers and educators to introduce unfamiliar students to the world of AI chatbots,
                defining what an AI chatbot is, guiding them through their capabilities, and how they should be used when it comes to producing
                assessed reports. Students are able to take quizzes on the topics learned and use their results to direct their learning. </h4>
        </div>
    </div>
</div>

@code {

}
