@inherits LayoutComponentBase
@layout AccountLayout

<h1>Account Management</h1>

<div class="container text-center">
    <br />
    <div class="row">
        <div class="">
            <ManageNavMenu />
        </div>
        <div class="">
            @Body
        </div>
    </div>
</div>
